
@media (prefers-color-scheme: dark){
    body {background: #333; color: #fff; }
    .team-card{background:rgb(110, 110, 110)}
    .player-card{}
}
@media (prefers-color-scheme: light){
    body {background: rgb(220, 220, 220); color: black ;}
    .team-card{background:rgb(237, 237, 237)}
    .player-card{}
}
/* --------------styles for site header-------------- */
#site-head{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
button{
    height: 30px;
    display: none;

}

/* --------------styles for teams-------------- */
#team-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.team-card {
    border: solid;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s;
    margin: 15px;
    float: left;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-card:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.685);
}
.team-card:hover img{
    transition: height 0.5s, width 0.5s;
    height: 170px;
    width: 170px;
}
img.team-logo {
    display: block;
    position: absolute;
    height: 150px;
    width: 150px;
}

/* --------------styles for players-------------- */
#player-container{
    position: absolute;
    display: none;
}

#favorite-players{
/* however we want this to display */
}
